$color--dark: #141414;
$color--vivid--light: #8D3CD0;
$color--vivid: #5E1E92;
$color--vivid--dark: #4A1971;
$color--gray: #00000080;
$color--gray--light: #00000029;
$color--gray--dark: #707070;

$tablet: 768px;
$laptop: 960px;
$desktop: 1440px;
$big-dektop: 1920px;