.afterWork {
	padding: 30px  20px;
	overflow: hidden;
    width: 100%;
	background-color: $color--dark;

	@media (min-width: $laptop) {
		padding: 50px 200px;
		display: grid;
		grid-template-columns: 67fr 76fr;
		grid-column-gap: 90px;
	}
}

.afterWork__header {
	@include strokeText;
	font-size: 24px;
	margin-bottom: 21px;
	text-transform: uppercase;

	@media (min-width: $tablet) {
		@include relSize('font-size', 101);
		grid-column-end: span 2;
	}
}

.afterWork__title {
	font-size: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 3px;
	padding-left: 20px;

	@media (min-width: $tablet) {
		grid-column-start: 2;
		font-size: 36px;
		letter-spacing: 12px;
		padding-left: 0;
		margin-bottom: 29px;
	}
}

.afterWork__text {
	font-size: 10px;
	line-height: 14px;
	padding-left: 20px;

	@media (min-width: $tablet) {
		font-size: 16px;
		line-height: 19px;
	}
}

.afterWork__imgCont {
	margin: 28px 0;
	display: block;
	position: relative;

	@media (min-width: $laptop) {
		margin: 0;

		&::after {
			content: '';
			position: absolute;
			left: -100vw;
			top: 50%;
			height: 300vw;
			width: 2px;
			background-image: url('../img/dots.svg');
			transform: rotate(-90deg);
			transform-origin: top;
			z-index: -1;
		}
	}
}

.afterWork__img {
	height: 210px;
	width: 100%;
	object-fit: cover;

	@media (min-width: $tablet) {
		height: 495px;
	}
}

.afterWork__seeMoreCont {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;

	@media (min-width: $laptop) {
		margin-top: -30px;
		justify-content: flex-start;
	}
}

.afterWork__arrow {
	height: 10px;
	margin-right: 10px;

	@media (min-width: $laptop) {
		margin-right: 101px;
	}
}

.afterWork__seeMoreText {
	display: block;
	font-size: 9px;

	@media (min-width: $tablet) {
		font-size: 18px;
	}
}
