.menu {
	position: fixed;
	top: 71px;
	left: 0;
	right: 0;
	bottom: 0;
	background: $color--dark;
	padding: 30px;
	z-index: 1;
	text-transform: uppercase;
	transform: translateX(100%);
	opacity: 0;
	pointer-events: none;
    transition: all 0.5s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	&--active {
		transform: translateX(0);
		pointer-events: all;
		opacity: 1;

		@media (min-width: $laptop) {
			.menu__list {
				transform: translateX(0);
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	@media (min-width: $laptop) {
		position: static;
		width: 100%;
		padding: 0 30px;
		padding-left: 0;
        background: transparent;
		flex-direction: row-reverse;
		justify-content: space-between;
		transform: translateX(0);
		opacity: 1;
		pointer-events: all;
	}
}

.menu__list {
	text-align: center;
	@media (min-width: $laptop) {
		display: flex;
		transform: translateX(100%);
		opacity: 0;
		pointer-events: none;
		transition: all 0.5s ease-in-out;
	}
}

.menu__item {
	margin-bottom: 30px;
	@media (min-width: $laptop) {
		margin: 0;
		@include relSize('margin-left', 50);
	}
}

.menu__link {
	text-decoration: none;
	font-size: 19px;
	font-weight: 900;
	display: block;
	padding: 8px 0;

	@media (min-width: $laptop) {
		@include relSize('font-size', 16);
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: -10px;
			right: -10px;
			bottom: 0.25em;
			height: 0.75em;
			background-image: linear-gradient(
				to bottom,
				transparent 0,
				$color--vivid--dark 0
			);
			@include relSize('background-position-y', 16);
			background-repeat: no-repeat;
			z-index: -1;
			transition: all 0.2s linear;
		}

		&:hover {
			&::after {
				background-position-y: 0;
			}
		}
	}
}

.menu__specials {
	display: flex;
	justify-content: center;
	align-items: center;

	@media (min-width: $laptop) {
		justify-content: space-between;
		margin: 0;
		@include relSize('margin-left', 185);
		@include relSize('font-size', 18);
		font-weight: 900;
	}
}

.menu__specialLink {
	width: 137px;
	text-decoration: none;
	height: 37px;
	position: relative;
	font-size: 19px;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color--vivid;

	@media (min-width: $laptop) {
		display: block;
		background: transparent;
		font-size: 20px;
		padding-bottom: 5px;
		@include relSize('margin-right', 130);
		@include relSize('width', 131);

		&::after {
			content: '+';
			color: #fff;
			right: -1em;
			bottom: -0.66em;
			position: absolute;
			transform: rotate(45deg);
			font-size: 28px;
			right: -1.66em;
			transition: all 0.2s linear;
		}

		&--hightlighted {
			color: #fff;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0px;
			right: -1em;
			bottom: -0.25em;
			height: 0.25em;
			background: #fff;
			z-index: -1;
			transition: all 0.2s linear;
		}

		&:hover {
			&::before {
				background: $color--vivid;
				height: 1em;
				bottom: 0.25em;
			}
			&::after {
				bottom: 0;
			}
		}
	}

	&--desktop {
		display: none;
		@media (min-width: $laptop) {
			display: block;
		}
	}
}

.menu__socials {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 11.5vh;

    @media (min-width: $laptop) {
       display: none;
    }
}

.menu__socialLink {
    text-decoration: none;
}

.menu__socialIcon {
    width: 30px;
    height: 30px;
}

.menu__cover {
	position: fixed;
	left: 0;
	top: 71px;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: rgba(0, 0, 0, 0.9);
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;

	&--visible {
		opacity: 1;
		pointer-events: all;
	}

	@media (min-width: $laptop) {
		display: none;
	}
}
