.mission {
	position: relative;
	background-image: url('../img/dots.svg');
	background-repeat: repeat-y;
	background-position-x: 80%;

	@media (min-width: $tablet) {
		padding-bottom: 15vh;
	}
}

.missions__dotsEndPoint {
	position: absolute;
	left: 80%;
	top: 0;
	width: 1px;
	height: 1px;
}

.mission__header {
	font-size: 67px;
	font-weight: 900;
	color: $color--dark;
	-webkit-text-stroke: 1px #fff;

	@media (min-width: $tablet) {
		font-size: 16.5vw;
		white-space: nowrap;
		text-align: right;
		@include relSize('margin-right', -75);
	}
}

.mission__text {
	padding-left: 40px;
	padding-right: 22px;
	margin: 20px 0;
	position: relative;

	@media (min-width: $tablet) {
		width: 28vw;
		min-width: 500px;
		margin-left: 5vw;
		margin-bottom: 88px;
		margin-top: 88px;
	}

	@media (min-width: $laptop) {
		margin-left: 18.5vw;
		width: auto;
		max-width: 33vw;
        @include relSize('min-height', 330);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
	}
}

.mission__title {
	text-transform: uppercase;

	.mission__subTitle {
		font-size: 13px;
		margin-left: 3px;
		@media (min-width: $tablet) {
			font-size: 2.5vw;
		}
	}

	.mission__mainTitle {
		color: $color--vivid--light;
		font-size: 40px;
		line-height: 1;
		@media (min-width: $tablet) {
			font-size: 7.9vw;
		}
	}
}

.mission__description {
	font-size: 10px;
	@media (min-width: $tablet) {
		font-size: 16px;
		max-width: 500px;
		padding-right: 22px;
	}
}

.mission__arrowCont {
	display: none;

	@media (min-width: $laptop) {
		display: block;

		.arrow {
			position: absolute;
			right: 0;
			bottom: 0;
			@include relSize('height', 400);
		}
	}
}

.mission__imgCont {
	width: 100%;
}

.mission__img {
	object-fit: cover;
	height: 244px;
	width: 100%;
	@media (min-width: $tablet) {
		height: 50vh;
	}

	@media (min-width: $laptop) {
		height: 100vh;
	}
}
