.navbar {
	width: 100%;
	height: 71px;
	background-color: $color--dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 32px;
	padding-top: 15px;
	padding-bottom: 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;

	&__logo {
        width: 77px;
        
        @media (min-width: $laptop) {
           @include relSize('width', 114);
        }
	}

	@media (min-width: $laptop) {
		height: 110px;
		background: transparent;
	}

	&__hamburger {
		position: relative;
		width: 30px;
		height: 30px;

		&Opened,
		&Closed {
			position: absolute;
			left: 0;
			top: 0;
			width: 30px;
			height: 30px;
			transition: all 0.25s linear;
		}

		&Opened {
			opacity: 0;
		}

		&Closed {
			opacity: 1;
		}

		&--active {
			.navbar__hamburgerOpened {
				opacity: 1;
			}
			.navbar__hamburgerClosed {
				opacity: 0;
			}
		}
	}
}
