.ourShops {
	overflow: hidden;
	background-color: $color--dark;
	position: relative;
	display: grid;
	grid-template: auto auto / auto auto;
	padding-bottom: 60px;

	@media (min-width: $laptop) {
		grid-template-columns: 1fr 1fr;
	}

	&__mapLine {
		height: 1px;
		width: 200px;
		background: url(../img/dots_horizontal.svg);
		position: absolute;
		z-index: 10;
		transform-origin: left;
	}

	&__mapCont {
		@media (min-width: $laptop) {
			grid-row-end: span 2;
			@include relSize('padding-bottom', 90);
		}
	}

	&__map {
		margin-top: -20%;
		margin-left: -30vw;
		width: 80vw;
		position: relative;
		z-index: 1;

		@media (min-width: $laptop) {
			width: 60vw;
			margin-top: -17%;
			margin-left: -8vw;
		}

		&--vivid {
            position: absolute;
            margin-top: -11%;
            margin-left: -30vw;
            width: 80vw;
			mix-blend-mode: darken;
			stroke-width: 0;
            pointer-events: none;
            z-index: 10;

            .map__contour {
                fill: $color--vivid--light;
            }

            @media (min-width: $tablet) {
                margin-top: -13vw;
            }

            @media (min-width: $laptop) {
                width: 60vw;
                margin-top: -8.9%;
                margin-left: -8vw;
            }
		}
	}

	&__addressBox {
		position: relative;
		padding-left: 35px;
		padding-top: 21px;

		@media (min-width: $laptop) {
			@include relSize('padding-top', 145);
			@include relSize('padding-left', 424);
		}
	}

	&__arrow {
		position: absolute;
		left: 0;
		top: 40px;
		width: 35px;
		height: 7px;

		@media (min-width: $laptop) {
			@include relSize('width', 274);
			@include relSize('top', 203);
			@include relSize('left', 75);
		}
	}

	&__addressTitle {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bolder;
		margin-bottom: 7px;

		@media (min-width: $laptop) {
			@include relSize('font-size', 36);
		}
	}

	&__subTitle {
		color: $color--vivid--light;
		font-size: 11px;
		margin-bottom: 7px;
		margin-top: 7px;

		@media (min-width: $laptop) {
			@include relSize('font-size', 24);
		}
	}

	&__phone,
	&__mail {
		display: block;
		font-size: 8px;
		line-height: 2em;
		text-decoration: none;

		@media (min-width: $laptop) {
			@include relSize('font-size', 16);
		}
	}

	&__phoneIcon {
		width: 7px;
		height: 7px;

		@media (min-width: $laptop) {
			width: 15px;
			height: 15px;
		}
	}

	&__employeeCont {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
	}

	&__employeeName,
	&__employeePhone {
		margin-left: 4px;
		font-size: 6px;
		text-decoration: none;

		@media (min-width: $laptop) {
			@include relSize('font-size', 16);
		}
	}

	&__header {
		text-transform: uppercase;
		grid-column-start: 2;

		@media (min-width: $laptop) {
			align-self: end;
			@include relSize('padding-left', 51);
		}
	}

	&__subHeader {
		font-size: 13px;
		font-weight: bold;

		@media (min-width: $laptop) {
			@include relSize('font-size', 51);
		}
	}

	&__mainHeader {
		color: $color--vivid--light;
		font-size: 40px;

		@media (min-width: $laptop) {
			@include relSize('font-size', 151);
		}
	}
}

.map {
	&__contour {
		fill: $color--dark;
		stroke: #fff;
		stroke-width: 1.5px;

		@media (min-width: $laptop) {
			stroke-width: 0.5px;
		}
	}

	&__dot {
		position: relative;
		cursor: pointer;
		stroke: #fff;
		stroke-width: 1.33px;
		transition: r 0.33s cubic-bezier(0.29, -0.24, 0.42, 2.28);
		z-index: 100;
	}

	&__line {
		width: 1px;
		height: 100px;
		stroke: #fff;
		stroke-width: 1;
		stroke-dasharray: 1, 5;
		stroke-linecap: round;
	}
}
