.popup {
    pointer-events: none;
    .popup__cover {
        opacity: 0;
        transition: all .25s ease-out;

    }

    .popup__wrapper {
        transform: scale(0.0001);
        opacity: 0;
        transition: all .25s ease-out;

    }

    &--visible {
        pointer-events: all;

        .popup__cover {
            opacity: 1;
        }
    
        .popup__wrapper {
            opacity: 1;
            transform: translateY(-50%);
        }
    }
}

.popup__wrapper {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    padding-bottom: 56.5%;
    z-index: 1000;

    @media (min-width: $laptop) {
       max-width: 70%;
       margin: auto;
    }
}

.popup__cover {
    @include cover(0.75);
    position: fixed;
    z-index: 1000;
}

.popup__movie {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $laptop) {
       height: 70%;
       top: 15%;
    }
}