.productsCount {
    padding-bottom: 61px;
    background-image: url('../img/dots.svg');
    background-repeat: repeat-y;
    background-position-x: 80%;

    @media (min-width: $tablet) {
        background-position-x: 75vw;
    }
}

.productsCount__wrapper {
    padding: 15px 0;
    background-color: $color--dark;
    position: relative;
    z-index: 5;
    display: block;
}

.productsCount__number, .productsCount__text {
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    transition: transform .25s linear;
}

.productsCount__number {
    font-size: 67px;
    transform: translateX(100%);

    @media (min-width: $tablet) {
        @include relSize('font-size', 479);
        line-height: 0.9;
    }
}

.productsCount__text {
    font-size: 20px;
    transform: translateX(-100%);

    @media (min-width: $tablet) {
        @include relSize('font-size', 120);
        line-height: 0.9;
    }
}