.productsCount {
	padding-bottom: 61px;
	background-image: url('../img/dots.svg');
	background-repeat: repeat-y;
	background-position-x: 80%;

	@media (min-width: $tablet) {
        padding-top: 10vw;
        padding-bottom: 15vw;
	}
}

.productsCount__wrapper {
	padding: 15px 0;
	background-color: $color--dark;
	position: relative;
	z-index: 5;
	display: block;
}

.productsCount__number,
.productsCount__text {
	color: transparent;
	font-weight: 900;
	-webkit-text-stroke: 1px #fff;
	text-align: center;
	transition: transform 0.25s linear;
}

.productsCount__number {
	font-size: 67px;
	transform: translateX(100%);

	@media (min-width: $tablet) {
		// @include relSize('font-size', 479);
		font-size: 22.94vw;
		line-height: 0.9;
	}
}

.productsCount__text {
	font-size: 20px;
	transform: translateX(-100%);

	@media (min-width: $tablet) {
		@include relSize('font-size', 120);
		line-height: 0.9;
	}
}
