.realizations {
	background-image: url('../img/dots.svg');
	background-repeat: repeat-y;
	background-position-x: 80%;

	@media (min-width: $tablet) {
		background-image: none;
	}
}

.realizations__header {
	display: flex;
	justify-content: center;
	font-size: 54px;

	@media (min-width: $tablet) {
		@include relSize('font-size', 222);
	}
}

.realizations__grid {
	display: grid;
	grid-gap: 30px;

	@media (min-width: $tablet) {
		grid-template-columns: 1023fr 881fr;
		grid-template-rows: 427px 249px 178px;
		grid-gap: 16px;
	}
}

.realizations__cell {
	width: 95%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&:nth-child(2n) {
		margin-left: auto;

		.realizations__photoNumber {
			right: auto;
			left: 0;
		}

		.realizations__photoTite {
			margin-left: 0;
		}
	}

	@media (min-width: $tablet) {
		width: 100%;
		height: 100%;

		&:nth-child(1) {
			grid-row-end: span 2;
			height: 100%;
		}

		&:nth-child(2) {
			width: 80%;
			margin: 0;
			margin-right: auto;
		}

		&:nth-child(3) {
			width: 80%;
			grid-row-end: span 2;
			height: 100%;
		}

		&:nth-child(5) {
			width: 80%;
			margin-left: auto;
		}

		&--active {
			.realizations__photoNumber {
				background-color: $color--vivid--dark;
				color: #fff;
			}
		}
	}

	&--text {
		display: none;
		@media (min-width: $tablet) {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 148px;
			width: 80%;

			.realizations__xIcon {
				margin-right: 27px;
				width: 37px;
				height: 37px;
			}

			.realizations__trustText {
				font-size: 18px;
			}
		}
	}

	&--list {
		display: none;
		@media (min-width: $tablet) {
			width: 80%;
			margin-left: 0 !important;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			.realizations__list {
				margin-left: 42px;
				font-size: 21px;
				list-style: none;
				counter-reset: custom-counter;
				li {
					margin-bottom: 32px;
					counter-increment: custom-counter;
                    cursor: pointer;
                    position: relative;
                    padding-left: 40px;
					&:last-child {
						margin-bottom: 0;
					}
					&::before {
                        content: counter(custom-counter) ' ';
                        position: absolute;
                        left: 0;
                        top: 0;
						color: transparent;
						font-weight: 900;
						-webkit-text-stroke: 1px #fff;
                        transition: all 0.2s linear;
					}
				}
			}
		}

		@media (min-width: $laptop) {
			.realizations__list li {
                position: relative;
				&::after {
					content: '';
					position: absolute;
					left: 40px;
					right: -5px;
					bottom: -0.25em;
					height: 0.85em;
					background-image: linear-gradient(
						to bottom,
						transparent 0,
						$color--vivid--dark 0
					);
					background-position-y: 0.85em;
					background-repeat: no-repeat;
					z-index: -1;
					transition: all 0.2s linear;
				}
				&:hover {
                    &::before {
                        -webkit-text-stroke-color: $color--vivid--light;
                    }
					&::after {
						background-position-y: 0;
					}
				}
			}
		}
	}
}

.realizations__imgCont {
	position: relative;
	width: 100%;
	height: 235px;
	margin-bottom: 16px;

	@media (min-width: $tablet) {
		height: 40vh;
	}

	@media (min-width: $tablet) {
		height: 100%;
		margin: 0;
	}
}

.realizations__photo {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.realizations__photoNumber {
	@include flexCenter;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	color: $color--dark;
	width: 25px;
	height: 25px;
	font-size: 9px;
	font-weight: bold;

	@media (min-width: $tablet) {
		width: 50px;
		height: 50px;
		font-size: 21px;
	}
}

.realizations__photoTite {
	font-size: 13px;
	font-weight: bold;
	border-bottom: 2px solid #fff;
	margin-left: auto;

	@media (min-width: $tablet) {
		display: none;
	}
}
