.welcome {
	max-height: 100vh;
	display: grid;
	grid-template: 87vh 13vh / 1fr 1fr;
	position: relative;
	background-color: $color--dark;

	@media (min-width: $tablet) {
		grid-template: 50vh 25vh / 1fr 1fr;
	}

	@media (min-width: $laptop) {
		height: 100vh;
		grid-template: 1fr / 2fr 1fr 1fr;
	}

	&__headerCont {
		font-size: 44px;
		color: #fff;
		margin: 0;
		margin-left: 20px;
		text-transform: uppercase;
		position: absolute;
		top: 20%;
		z-index: 5;

		@media (min-width: $laptop) {
			@include relSize('margin-left', 200);
		}
	}

	&__header {
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			background-color: $color--vivid;
			width: 115%;
			left: -10%;
			height: 110%;
			top: -50%;
			z-index: -1;

			@media (min-width: $laptop) {
				@include relSize('width', 1720);
				@include relSize('left', -200);
			}
		}

		@media (min-width: $tablet) {
			@include relSize('font-size', 180);

			&::before {
				height: 70%;
				top: -20%;
			}
		}
	}

	&__subHeader {
		display: block;
		position: relative;
		@media (min-width: $tablet) {
			color: transparent;
			-webkit-text-stroke: 2px #fff;
			@include relSize('font-size', 79);
			@include relSize('letter-spacing', 40);
		}

		.welcome__x {
			position: absolute;
			bottom: 0;
			right: 33%;
			width: 16px;
			height: 16px;

			@media (min-width: $laptop) {
				@include relSize('width', 50);
				@include relSize('height', 50);
				@include relSize('bottom', -30);
				right: auto;
				left: 45%;
			}
		}
	}
}

.welcome__cell {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 90px;
	position: relative;
	background-size: cover;

	&::after {
		content: '';
		@include cover(0.5);
	}

	&--big {
		padding: 30px 20px;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		grid-column-end: span 2;
		overflow: hidden;
		// background-image: url('../img/photos/welcome_big.jpg');

		@media (min-width: $laptop) {
			@include relSize('padding-left', 200);
			grid-column-end: auto;
			display: grid;
			grid-template: 1fr 1fr / 1fr 1fr;
			justify-items: start;
			padding-top: 50%;

			.welcome__lines {
				position: absolute;
				left: 0;
				@include relSize('width', 90);
				@include relSize('height', 75);
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.welcome__line {
					background-color: #fff;
					height: 5px;
					width: 60%;

					&--long {
						width: 100%;
					}
				}
			}
		}
	}

	&--1 {
		background-image: url('../img/photos/sklepy.jpg');
		background-position-y: bottom;
		@media (min-width: $laptop) {
			&::after {
				background: transparent;
			}

			.welcome__text--number {
				background-image: url('../img/photos/sklepy.jpg');
			}
		}
	}

	&--2 {
		background-image: url('../img/photos/news_bck.jpg');
		background-position-y: center;
		border-left: 0;

		@media (min-width: $laptop) {
			&::after {
				background: transparent;
			}
			.welcome__text--number {
				background-image: url('../img/photos/news_bck.jpg');
			}
		}
	}

	&--1,
	&--2 {
		border: 1px solid #fff;

		@media (min-width: $laptop) {
			background-image: none;
			display: grid;
			align-items: end;
			justify-items: center;
			width: 100%;
			justify-content: initial;
		}
	}

	.welcome__text {
		font-size: 15px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 4px 0;
		z-index: 2;
		cursor: pointer;

		@media (min-width: $laptop) {
			@include relSize('padding-bottom', 60);
			margin: 0;
			font-size: 24px;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			color: #fff;
			background-position-y: 70vh;
			background-repeat: no-repeat;
			transition: all 0.25s ease-in;

			span.welcome--desktop {
				display: block;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					left: -10px;
					right: -10px;
					bottom: -5px;
					height: 20px;
					max-height: 0px;
					background: $color--vivid;
					z-index: -1;
					transition: all 0.2s linear;
				}
			}

			&:hover {
				span.welcome--desktop {
					&::after {
						max-height: 20px;
					}
				}
			}
		}
	}

	.welcome__text--number {
		color: #fff;
		-webkit-text-stroke: 0;
		background-size: cover;

		@media (min-width: $laptop) {
			font-size: 39px;

			&:hover {
				@include strokeText;
				background-position: center;
			}
		}
	}

	&--active {
		.welcome__text:not(.welcome__text--number) {
			border-bottom: 2px solid #fff;
			padding-bottom: 4px;
			color: #fff;
			-webkit-text-stroke: 0;

			@media (min-width: $laptop) {
				@include relSize('padding-bottom', 60);
			}
		}

		.welcome__text--number {
			@include strokeText;

			@media (min-width: $laptop) {
				-webkit-text-stroke: 0;
				color: #fff;
			}
		}
	}

	.welcome__text:not(.welcome__text--number) {
		@include strokeText;

		@media (min-width: $laptop) {
			grid-row-start: 1;
			border-bottom: 1px solid #fff;
			min-height: 250px;
			color: #fff;
			-webkit-text-stroke-width: 0;
		}
	}

	// .welcome__text--realizations {
	//     @media (min-width: $laptop) {
	//         background-image: url('../img/photos/gal_04.jpg');
	//     }
	// }

	// .welcome__text--news {
	//     @media (min-width: $laptop) {
	//         background-image: url('../img/photos/gal_02.jpg');
	//     }
	// }
}

.welcome__video {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

.welcome__newsCont {
	display: none;

	@media (min-width: $laptop) {
		display: block;
		position: static;
		z-index: 5;
		font-size: 9px;
		@include relSize('max-width', 243);
	}

	.welcome__newsDate {
		letter-spacing: 3px;
	}

	.welcome__newsTitle {
		text-transform: uppercase;
	}
}

.welcome__button {
	@include flexCenter;
	text-decoration: none;
	background-color: $color--vivid;
	text-transform: uppercase;
	width: 138px;
	height: 44px;
	font-size: 23px;
	font-weight: bold;
	z-index: 2;

	@media (min-width: $laptop) {
		grid-row-start: 2;
	}

	&--desktop {
		display: none;
	}

	@media (min-width: $laptop) {
		&--desktop {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			background: transparent;
			width: auto;
			height: auto;
			margin-bottom: 1vw;
			margin-left: auto;

			a {
				text-decoration: none;
				transition: all 0.75s 0.05s ease-in-out;
				opacity: 0;
			}
		}

		&--mobile {
			display: none;
		}
	}
}

.welcome__bordered {
	@include strokeText;
	margin-right: 10px;
}

.welcome__playCont {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;

	@media (min-width: $laptop) {
		grid-row-start: 2;
	}
}

.welcome__playButton {
	@include flexCenter;
	width: 54px;
	height: 54px;
	background-color: #fff;
	position: relative;
	color: $color--vivid;
	border-radius: 50%;
	font-size: 30px;
	padding-left: 6px;
	z-index: 2;
	margin-bottom: 15px;

	&::after {
		content: '';
		position: absolute;
		left: -5px;
		top: -5px;
		bottom: -5px;
		right: -5px;
		background-color: rgba(255, 255, 255, 0.25);
		border-radius: 50%;
		transition: all 0.33s cubic-bezier(0.48, -0.26, 0.69, 2.5);
	}

	@media (min-width: $laptop) {
		@include relSize('width', 100);
		@include relSize('height', 100);
		&:hover {
			&::after {
				transform: scale(1.2);
			}
		}
	}
}

.welcome__playIcon {
	width: 18px;

	@media (min-width: $laptop) {
		@include relSize('width', 28);
	}
}

.welcome__playText {
	padding-bottom: 15px;
	border: 0;
	background-color: transparent;
	@include strokeText;
	text-transform: uppercase;
	position: relative;
	z-index: 2;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 20%;
		width: 60%;
		border-bottom: 2px solid #fff;
	}

	@media (min-width: $laptop) {
		display: none;
	}
}

.welcome--mobile {
	-webkit-text-stroke-width: 0;
	@media (min-width: $laptop) {
		display: none;
	}
}

.welcome--desktop {
	display: none;
	@media (min-width: $laptop) {
		display: inline;
	}
}

.welcome__strokeText {
	@include strokeText;
}
