.welcome {
    max-height: 100vh;
    display: grid;
    grid-template: 480px 1fr / 1fr 1fr;
    position: relative;

    &__headerCont {
        font-size: 44px;
        color: #fff;
        margin: 0;
        margin-left: 20px;
        text-transform: uppercase;
        position: absolute;
        top: 20%;

        &::after {
            content: '+';
            position: absolute;
            bottom: 0;
            right: 20%;
            font-size: 40px;
            font-weight: 400;
            transform: rotate(45deg) translateY(100%);
        }
    }

    &__header {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-color: $color--vivid;
            width: 115%;
            left: -10%;
            height: 110%;
            top: -50%;
            z-index: -1;
        }
    }

    &__subHeader {
        display: block;
        @media (min-width: $tablet) {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
    }
}

.welcome__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90px;
    border: 1px solid red;

    &--big {
        padding: 30px 20px;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        grid-column-end: span 2;
    }
}

.welcome__button {
    @include flexCenter;
    text-decoration: none;
    background-color: $color--vivid;
    text-transform: uppercase;
    width: 138px;
    height: 44px;
    font-size: 23px;
    font-weight: bold;
}

.welcome__text {
    font-size: 14px;
    font-weight: 900;
    margin: 4px 0;

    &--bordered {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
}

.welcome__playButton {
    @include flexCenter;
    width: 54px;
    height: 54px;
    background-color: #fff;
    position: relative;
    color: $color--vivid;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 6px;

    &:hover {
        &::after {
            transform: scale(1.2);
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        bottom: -5px;
        right: -5px;
        background-color: rgba(255, 255,255, .25);
        border-radius: 50%;
        transition: all .33s cubic-bezier(0.48,-0.26, 0.69, 2.5);
    }
}