@import '_variables';
@import '_global';
@import '_mixins';
@import 'navbar';
@import 'menu';
@import 'welcome';
@import 'halfFilledHeader';
@import 'realizations';
@import 'mission';
@import 'history';
@import 'productsCount';
@import 'events';
@import 'gallery';
@import 'slider';
@import 'yearsOnMarket';
@import 'afterWork';
@import 'contact';
@import 'socials';
@import 'footer';
@import 'bigLetters';
@import 'arrow';