* {
  box-sizing: border-box;
  font-family: "Roboto";
  color: #fff;
}

body {
  background-color: #141414;
}

main {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto";
  font-weight: 900;
}

.navbar {
  width: 100%;
  height: 71px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 32px;
  padding-top: 15px;
  padding-bottom: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.navbar__logo {
  width: 77px;
}
@media (min-width: 960px) {
  .navbar__logo {
    width: 5.9375vw;
  }
}
@media (min-width: 960px) {
  .navbar {
    height: 110px;
    padding-left: 2.96875vw;
    padding-right: 4.0625vw;
    background: transparent;
  }
}
.navbar__hamburger {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar__hamburgerOpened, .navbar__hamburgerClosed {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  transition: all 0.25s linear;
}
.navbar__hamburgerOpened {
  opacity: 0;
}
.navbar__hamburgerClosed {
  opacity: 1;
}
.navbar__hamburger--active .navbar__hamburgerOpened {
  opacity: 1;
}
.navbar__hamburger--active .navbar__hamburgerClosed {
  opacity: 0;
}

.menu {
  position: fixed;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #141414;
  padding: 30px;
  z-index: 1;
  text-transform: uppercase;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu--active {
  transform: translateX(0);
  pointer-events: all;
  opacity: 1;
}
@media (min-width: 960px) {
  .menu--active .menu__list {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}
@media (min-width: 960px) {
  .menu {
    position: static;
    width: 100%;
    padding: 0 30px;
    padding-left: 0;
    background: transparent;
    flex-direction: row-reverse;
    justify-content: space-between;
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

.menu__list {
  text-align: center;
}
@media (min-width: 960px) {
  .menu__list {
    display: flex;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }
}

.menu__item {
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .menu__item {
    margin: 0;
    margin-left: 2.6041666667vw;
  }
}

.menu__link {
  text-decoration: none;
  font-size: 19px;
  font-weight: 900;
  display: block;
  padding: 8px 0;
}
@media (min-width: 960px) {
  .menu__link {
    font-size: 0.8333333333vw;
    position: relative;
  }
  .menu__link::after {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: 0.25em;
    height: 0.75em;
    background-image: linear-gradient(to bottom, transparent 0, #4a1971 0);
    background-position-y: 0.8333333333vw;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.2s linear;
  }
  .menu__link:hover::after {
    background-position-y: 0;
  }
}

.menu__specials {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 960px) {
  .menu__specials {
    justify-content: space-between;
    margin: 0;
    margin-left: 9.6354166667vw;
    font-size: 0.9375vw;
    font-weight: 900;
  }
}

.menu__specialLink {
  width: 137px;
  text-decoration: none;
  height: 37px;
  position: relative;
  font-size: 19px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e1e92;
}
@media (min-width: 960px) {
  .menu__specialLink {
    display: block;
    background: transparent;
    font-size: 20px;
    padding-bottom: 5px;
    margin-right: 6.7708333333vw;
    width: 6.8229166667vw;
  }
  .menu__specialLink::after {
    content: "+";
    color: #fff;
    right: -1em;
    bottom: -0.66em;
    position: absolute;
    transform: rotate(45deg);
    font-size: 28px;
    right: -1.66em;
    transition: all 0.2s linear;
  }
  .menu__specialLink--hightlighted {
    color: #fff;
  }
  .menu__specialLink::before {
    content: "";
    position: absolute;
    left: 0px;
    right: -1em;
    bottom: -0.25em;
    height: 0.25em;
    background: #fff;
    z-index: -1;
    transition: all 0.2s linear;
  }
  .menu__specialLink:hover::before {
    background: #5e1e92;
    height: 1em;
    bottom: 0.25em;
  }
  .menu__specialLink:hover::after {
    bottom: 0;
  }
}
.menu__specialLink--desktop {
  display: none;
}
@media (min-width: 960px) {
  .menu__specialLink--desktop {
    display: block;
  }
}

.menu__socials {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 11.5vh;
}
@media (min-width: 960px) {
  .menu__socials {
    display: none;
  }
}

.menu__socialLink {
  text-decoration: none;
}

.menu__socialIcon {
  width: 30px;
  height: 30px;
}

.menu__cover {
  position: fixed;
  left: 0;
  top: 71px;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.menu__cover--visible {
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 960px) {
  .menu__cover {
    display: none;
  }
}

.welcome {
  max-height: 100vh;
  display: grid;
  grid-template: 87vh 13vh/1fr 1fr;
  position: relative;
  background-color: #141414;
}
@media (min-width: 768px) {
  .welcome {
    grid-template: 50vh 25vh/1fr 1fr;
  }
}
@media (min-width: 960px) {
  .welcome {
    height: 100vh;
    grid-template: 1fr/2fr 1fr 1fr;
  }
}
.welcome__headerCont {
  font-size: 44px;
  color: #fff;
  margin: 0;
  margin-left: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  z-index: 5;
}
@media (min-width: 960px) {
  .welcome__headerCont {
    margin-left: 10.4166666667vw;
  }
}
.welcome__header {
  position: relative;
  z-index: 1;
}
.welcome__header::before {
  content: "";
  position: absolute;
  background-color: #5e1e92;
  width: 115%;
  left: -10%;
  height: 110%;
  top: -50%;
  z-index: -1;
}
@media (min-width: 960px) {
  .welcome__header::before {
    width: 89.5833333333vw;
    left: -10.4166666667vw;
  }
}
@media (min-width: 768px) {
  .welcome__header {
    font-size: 9.375vw;
  }
  .welcome__header::before {
    height: 70%;
    top: -20%;
  }
}
.welcome__subHeader {
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .welcome__subHeader {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-size: 4.1145833333vw;
    letter-spacing: 2.0833333333vw;
  }
}
.welcome__subHeader .welcome__x {
  position: absolute;
  bottom: 0;
  right: 33%;
  width: 16px;
  height: 16px;
}
@media (min-width: 960px) {
  .welcome__subHeader .welcome__x {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    bottom: -1.5625vw;
    right: auto;
    left: 45%;
  }
}

.welcome__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90px;
  position: relative;
  background-size: cover;
}
.welcome__cell::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.welcome__cell--big {
  padding: 30px 20px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  grid-column-end: span 2;
  overflow: hidden;
}
@media (min-width: 960px) {
  .welcome__cell--big {
    padding-left: 10.4166666667vw;
    grid-column-end: auto;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    justify-items: start;
    padding-top: 50%;
  }
  .welcome__cell--big .welcome__lines {
    position: absolute;
    left: 0;
    width: 4.6875vw;
    height: 3.90625vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .welcome__cell--big .welcome__lines .welcome__line {
    background-color: #fff;
    height: 5px;
    width: 60%;
  }
  .welcome__cell--big .welcome__lines .welcome__line--long {
    width: 100%;
  }
}
.welcome__cell--1 {
  background-image: url("../img/photos/sklepy.jpg");
  background-position-y: bottom;
}
@media (min-width: 960px) {
  .welcome__cell--1::after {
    background: transparent;
  }
  .welcome__cell--1 .welcome__text--number {
    background-image: url("../img/photos/sklepy.jpg");
  }
}
.welcome__cell--2 {
  background-image: url("../img/photos/news_bck.jpg");
  background-position-y: center;
  border-left: 0;
}
@media (min-width: 960px) {
  .welcome__cell--2::after {
    background: transparent;
  }
  .welcome__cell--2 .welcome__text--number {
    background-image: url("../img/photos/news_bck.jpg");
  }
}
.welcome__cell--1, .welcome__cell--2 {
  border: 1px solid #fff;
}
@media (min-width: 960px) {
  .welcome__cell--1, .welcome__cell--2 {
    background-image: none;
    display: grid;
    align-items: end;
    justify-items: center;
    width: 100%;
    justify-content: initial;
  }
}
.welcome__cell .welcome__text {
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 4px 0;
  z-index: 2;
  cursor: pointer;
}
@media (min-width: 960px) {
  .welcome__cell .welcome__text {
    padding-bottom: 3.125vw;
    margin: 0;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
    background-position-y: 70vh;
    background-repeat: no-repeat;
    transition: all 0.25s ease-in;
  }
  .welcome__cell .welcome__text span.welcome--desktop {
    display: block;
    position: relative;
  }
  .welcome__cell .welcome__text span.welcome--desktop::after {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: -5px;
    height: 20px;
    max-height: 0px;
    background: #5e1e92;
    z-index: -1;
    transition: all 0.2s linear;
  }
  .welcome__cell .welcome__text:hover span.welcome--desktop::after {
    max-height: 20px;
  }
}
.welcome__cell .welcome__text--number {
  color: #fff;
  -webkit-text-stroke: 0;
  background-size: cover;
}
@media (min-width: 960px) {
  .welcome__cell .welcome__text--number {
    font-size: 39px;
  }
  .welcome__cell .welcome__text--number:hover {
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-position: center;
  }
}
.welcome__cell--active .welcome__text:not(.welcome__text--number) {
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
  color: #fff;
  -webkit-text-stroke: 0;
}
@media (min-width: 960px) {
  .welcome__cell--active .welcome__text:not(.welcome__text--number) {
    padding-bottom: 3.125vw;
  }
}
.welcome__cell--active .welcome__text--number {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
@media (min-width: 960px) {
  .welcome__cell--active .welcome__text--number {
    -webkit-text-stroke: 0;
    color: #fff;
  }
}
.welcome__cell .welcome__text:not(.welcome__text--number) {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
@media (min-width: 960px) {
  .welcome__cell .welcome__text:not(.welcome__text--number) {
    grid-row-start: 1;
    border-bottom: 1px solid #fff;
    min-height: 250px;
    color: #fff;
    -webkit-text-stroke-width: 0;
  }
}

.welcome__video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.welcome__newsCont {
  display: none;
}
@media (min-width: 960px) {
  .welcome__newsCont {
    display: block;
    position: static;
    z-index: 5;
    font-size: 9px;
    max-width: 12.65625vw;
  }
}
.welcome__newsCont .welcome__newsDate {
  letter-spacing: 3px;
}
.welcome__newsCont .welcome__newsTitle {
  text-transform: uppercase;
}

.welcome__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #5e1e92;
  text-transform: uppercase;
  width: 138px;
  height: 44px;
  font-size: 23px;
  font-weight: bold;
  z-index: 2;
}
@media (min-width: 960px) {
  .welcome__button {
    grid-row-start: 2;
  }
}
.welcome__button--desktop {
  display: none;
}
@media (min-width: 960px) {
  .welcome__button--desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    width: auto;
    height: auto;
    margin-bottom: 1vw;
    margin-left: auto;
  }
  .welcome__button--desktop a {
    text-decoration: none;
    transition: all 0.75s 0.05s ease-in-out;
    opacity: 0;
  }
  .welcome__button--mobile {
    display: none;
  }
}

.welcome__bordered {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  margin-right: 10px;
}

.welcome__playCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 960px) {
  .welcome__playCont {
    grid-row-start: 2;
  }
}

.welcome__playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background-color: #fff;
  position: relative;
  color: #5e1e92;
  border-radius: 50%;
  font-size: 30px;
  padding-left: 6px;
  z-index: 2;
  margin-bottom: 15px;
}
.welcome__playButton::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  bottom: -5px;
  right: -5px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transition: all 0.33s cubic-bezier(0.48, -0.26, 0.69, 2.5);
}
@media (min-width: 960px) {
  .welcome__playButton {
    width: 5.2083333333vw;
    height: 5.2083333333vw;
  }
  .welcome__playButton:hover::after {
    transform: scale(1.2);
  }
}

.welcome__playIcon {
  width: 18px;
}
@media (min-width: 960px) {
  .welcome__playIcon {
    width: 1.4583333333vw;
  }
}

.welcome__playText {
  padding-bottom: 15px;
  border: 0;
  background-color: transparent;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.welcome__playText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  border-bottom: 2px solid #fff;
}
@media (min-width: 960px) {
  .welcome__playText {
    display: none;
  }
}

.welcome--mobile {
  -webkit-text-stroke-width: 0;
}
@media (min-width: 960px) {
  .welcome--mobile {
    display: none;
  }
}

.welcome--desktop {
  display: none;
}
@media (min-width: 960px) {
  .welcome--desktop {
    display: inline;
  }
}

.welcome__strokeText {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.halfFilledHeader {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto;
  transform: translateY(50%);
  position: relative;
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  z-index: 5;
  font-size: inherit;
}
.halfFilledHeader::after {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0.6em;
  overflow: hidden;
  color: #141414;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
}

.realizations {
  background-image: url("../img/dots.svg");
  background-repeat: repeat-y;
  background-position-x: 80%;
}
@media (min-width: 768px) {
  .realizations {
    background-image: none;
  }
}

.realizations__header {
  display: flex;
  justify-content: center;
  font-size: 54px;
}
@media (min-width: 768px) {
  .realizations__header {
    font-size: 11.5625vw;
  }
}

.realizations__grid {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 768px) {
  .realizations__grid {
    grid-template-columns: 1023fr 881fr;
    grid-template-rows: 427px 249px 178px;
    grid-gap: 16px;
  }
}

.realizations__cell {
  width: 95%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.realizations__cell:nth-child(2n) {
  margin-left: auto;
}
.realizations__cell:nth-child(2n) .realizations__photoNumber {
  right: auto;
  left: 0;
}
.realizations__cell:nth-child(2n) .realizations__photoTite {
  margin-left: 0;
}
@media (min-width: 768px) {
  .realizations__cell {
    width: 100%;
    height: 100%;
  }
  .realizations__cell:nth-child(1) {
    grid-row-end: span 2;
    height: 100%;
  }
  .realizations__cell:nth-child(2) {
    width: 80%;
    margin: 0;
    margin-right: auto;
  }
  .realizations__cell:nth-child(3) {
    width: 80%;
    grid-row-end: span 2;
    height: 100%;
  }
  .realizations__cell:nth-child(5) {
    width: 80%;
    margin-left: auto;
  }
  .realizations__cell--active .realizations__photoNumber {
    background-color: #4a1971;
    color: #fff;
    width: 5.3125vw;
    height: 5.3125vw;
    font-size: 2.1875vw;
  }
}
.realizations__cell--text {
  display: none;
}
@media (min-width: 768px) {
  .realizations__cell--text {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 148px;
    width: 80%;
  }
  .realizations__cell--text .realizations__xIcon {
    margin-right: 27px;
    width: 37px;
    height: 37px;
  }
  .realizations__cell--text .realizations__trustText {
    font-size: 18px;
  }
}
.realizations__cell--list {
  display: none;
}
@media (min-width: 768px) {
  .realizations__cell--list {
    width: 80%;
    margin-left: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .realizations__cell--list .realizations__list {
    margin-left: 42px;
    font-size: 21px;
    list-style: none;
    counter-reset: custom-counter;
  }
  .realizations__cell--list .realizations__list li {
    margin-bottom: 32px;
    counter-increment: custom-counter;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
  }
  .realizations__cell--list .realizations__list li:last-child {
    margin-bottom: 0;
  }
  .realizations__cell--list .realizations__list li::before {
    content: counter(custom-counter) " ";
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    transition: all 0.2s linear;
  }
}
@media (min-width: 960px) {
  .realizations__cell--list .realizations__list li {
    position: relative;
  }
  .realizations__cell--list .realizations__list li::after {
    content: "";
    position: absolute;
    left: 40px;
    right: -5px;
    bottom: -0.25em;
    height: 0.85em;
    background-image: linear-gradient(to bottom, transparent 0, #4a1971 0);
    background-position-y: 0.85em;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.2s linear;
  }
  .realizations__cell--list .realizations__list li:hover::before {
    -webkit-text-stroke-color: #8d3cd0;
  }
  .realizations__cell--list .realizations__list li:hover::after {
    background-position-y: 0;
  }
}

.realizations__imgCont {
  position: relative;
  width: 100%;
  height: 235px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .realizations__imgCont {
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .realizations__imgCont {
    height: 100%;
    margin: 0;
  }
}

.realizations__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.realizations__photoNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  color: #141414;
  width: 25px;
  height: 25px;
  font-size: 9px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .realizations__photoNumber {
    width: 2.65625vw;
    height: 2.65625vw;
    font-size: 1.09375vw;
  }
}

.realizations__photoTite {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  margin-left: auto;
}
@media (min-width: 768px) {
  .realizations__photoTite {
    display: none;
  }
}

.mission {
  background-image: url("../img/dots.svg");
  background-repeat: repeat-y;
  background-position-x: 80%;
}
@media (min-width: 768px) {
  .mission {
    background-position-x: 80%;
    padding-bottom: 15vh;
  }
}

.mission__header {
  font-size: 67px;
  font-weight: 900;
  color: #141414;
  -webkit-text-stroke: 1px #fff;
}
@media (min-width: 768px) {
  .mission__header {
    font-size: 16.5vw;
    white-space: nowrap;
    text-align: right;
    margin-right: -3.90625vw;
  }
}

.mission__text {
  padding-left: 40px;
  padding-right: 22px;
  margin: 20px 0;
  position: relative;
}
@media (min-width: 768px) {
  .mission__text {
    width: 28vw;
    min-width: 500px;
    margin-left: 5vw;
    margin-bottom: 88px;
    margin-top: 88px;
  }
}
@media (min-width: 960px) {
  .mission__text {
    margin-left: 18.5vw;
    width: auto;
    max-width: 33vw;
  }
}

.mission__title {
  text-transform: uppercase;
}
.mission__title .mission__subTitle {
  font-size: 13px;
  margin-left: 3px;
}
@media (min-width: 768px) {
  .mission__title .mission__subTitle {
    font-size: 2.5vw;
  }
}
.mission__title .mission__mainTitle {
  color: #8d3cd0;
  font-size: 40px;
  line-height: 1;
}
@media (min-width: 768px) {
  .mission__title .mission__mainTitle {
    font-size: 7.9vw;
  }
}

.mission__description {
  font-size: 10px;
}
@media (min-width: 768px) {
  .mission__description {
    font-size: 16px;
    max-width: 500px;
    padding-right: 22px;
  }
}

.mission__arrowCont {
  display: none;
}
@media (min-width: 960px) {
  .mission__arrowCont {
    display: block;
  }
  .mission__arrowCont .arrow {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.mission__imgCont {
  width: 100%;
}

.mission__img {
  object-fit: cover;
  height: 244px;
  width: 100%;
}
@media (min-width: 768px) {
  .mission__img {
    height: 50vh;
  }
}
@media (min-width: 960px) {
  .mission__img {
    height: 100vh;
  }
}

.history {
  padding: 30px 0;
  background-image: url("../img/dots.svg");
  background-repeat: repeat-y;
  background-position-x: 80%;
  position: relative;
}
@media (min-width: 960px) {
  .history {
    width: 100%;
    padding: 200px 10%;
    margin: 0 auto;
  }
}

.history__arrowCont {
  display: none;
}
@media (min-width: 960px) {
  .history__arrowCont {
    display: block;
  }
  .history__arrowCont .arrow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 65%;
    margin: 0 auto;
  }
  .history__arrowCont .arrow::before {
    height: 10%;
  }
  .history__arrowCont .arrow::after {
    top: 11%;
  }
}

.history__header {
  font-size: 46px;
  color: #141414;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .history__header {
    font-size: 7.1354166667vw;
    text-align: left;
  }
}

.history__content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 30px;
  margin: 45px 16px;
}
@media (min-width: 768px) {
  .history__content {
    margin: 120px 0;
    margin-left: 60px;
  }
}

.history__timeline {
  margin-top: 90px;
  list-style: none;
  counter-reset: custom-counter;
}
@media (min-width: 768px) {
  .history__timeline {
    margin: 0;
    width: 26.0416666667vw;
  }
}
.history__timeline li {
  margin-bottom: 18px;
  counter-increment: custom-counter;
  position: relative;
  padding-left: 30px;
  font-size: 10px;
}
@media (min-width: 768px) {
  .history__timeline li {
    font-size: 16px;
    padding-left: 5.2083333333vw;
    margin-bottom: 4.6875vw;
  }
}
.history__timeline li .timeline__year {
  font-size: 12px;
}
@media (min-width: 768px) {
  .history__timeline li .timeline__year {
    font-size: 24px;
  }
}
.history__timeline li .timeline__title {
  color: #8d3cd0;
}
@media (min-width: 768px) {
  .history__timeline li .timeline__title {
    font-size: 24px;
  }
}
.history__timeline li:last-child {
  margin-bottom: 0;
}
.history__timeline li::before {
  content: counter(custom-counter) " ";
  color: transparent;
  font-weight: 900;
  font-size: 28px;
  -webkit-text-stroke: 1px #fff;
  position: absolute;
  left: 0;
  top: -0.9em;
}
@media (min-width: 768px) {
  .history__timeline li::before {
    font-size: 5.2083333333vw;
  }
}

.history__image {
  align-self: center;
  width: 132px;
  transition: transform 0.25s linear;
}
@media (min-width: 768px) {
  .history__image {
    width: 25.5208333333vw;
    margin-left: 3.6458333333vw;
  }
}

.productsCount {
  padding-bottom: 61px;
  background-image: url("../img/dots.svg");
  background-repeat: repeat-y;
  background-position-x: 80%;
}
@media (min-width: 768px) {
  .productsCount {
    padding-top: 10vw;
    padding-bottom: 15vw;
  }
}

.productsCount__wrapper {
  padding: 15px 0;
  background-color: #141414;
  position: relative;
  z-index: 5;
  display: block;
}

.productsCount__number,
.productsCount__text {
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
  transition: transform 0.25s linear;
}

.productsCount__number {
  font-size: 67px;
  transform: translateX(100%);
}
@media (min-width: 768px) {
  .productsCount__number {
    font-size: 22.94vw;
    line-height: 0.9;
  }
}

.productsCount__text {
  font-size: 20px;
  transform: translateX(-100%);
}
@media (min-width: 768px) {
  .productsCount__text {
    font-size: 6.25vw;
    line-height: 0.9;
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 140px 0;
  margin-top: 28vw;
  position: relative;
}
.events::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30vw;
  width: 1px;
  height: 57vw;
  background-image: url("../img/dots.svg");
  transform-origin: bottom;
  transform: translateY(-100%) rotate(60deg);
}
.events .arrow {
  position: absolute;
  left: calc(30vw - 7.5px);
  top: 0;
  height: 90%;
}
@media (min-width: 768px) {
  .events {
    grid-template-columns: 1fr 1.75fr;
    padding-top: 25vw;
    margin-top: 0;
  }
  .events::before {
    transform: translateY(calc(-100%)) rotate(49.5deg);
    height: 38vw;
    left: calc(50% + 15px);
    top: calc(25vw - 3px);
  }
  .events .arrow {
    left: calc(50% - 7.5px);
    height: 50%;
    top: 25vw;
    left: 50%;
  }
}
@media (min-width: 768px) {
  .events {
    grid-template-columns: 1fr 1fr;
  }
}

.events__number {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 100px;
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateX(2vw);
  transition: transform 0.25s linear;
  grid-row-end: span 3;
}
@media (min-width: 768px) {
  .events__number {
    font-size: 20.8333333333vw;
    transform: none;
    writing-mode: unset;
    margin-left: -3vw;
    align-self: end;
    line-height: 1;
    grid-row-end: auto;
  }
}
@media (min-width: 768px) {
  .events__number {
    font-size: 29.1145833333vw;
  }
}

.events__numberDescription {
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 10px;
}
@media (min-width: 768px) {
  .events__numberDescription {
    grid-row-start: 2;
    grid-column-start: 1;
    text-align: right;
    font-size: 12px;
    align-self: start;
    margin-right: 3vw;
  }
}
@media (min-width: 960px) {
  .events__numberDescription {
    font-size: 19px;
  }
}

.events__content {
  grid-row-end: span 2;
}

.events__header {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: right;
}
@media (min-width: 768px) {
  .events__header {
    font-size: 6.25vw;
    margin-left: 90px;
    text-align: left;
  }
}
@media (min-width: 960px) {
  .events__header {
    margin-left: 120px;
  }
}

.events__list {
  padding-left: 52px;
  padding-right: 17px;
  padding-bottom: 60px;
  position: relative;
}
@media (min-width: 768px) {
  .events__list {
    padding-left: 90px;
  }
}
@media (min-width: 960px) {
  .events__list {
    max-width: 550px;
    padding-left: 118px;
  }
}
.events__list .events__xIcon {
  width: 11px;
  height: 11px;
  position: absolute;
  left: 12px;
  top: 16px;
}
@media (min-width: 768px) {
  .events__list .events__xIcon {
    width: 30px;
    height: 30px;
    left: 25px;
    top: 30px;
  }
}
@media (min-width: 960px) {
  .events__list .events__xIcon {
    width: 46px;
    height: 46px;
    left: 36px;
    top: 30px;
  }
}

.events__eventCont {
  margin-bottom: 17px;
}
.events__eventCont .events__date {
  font-size: 7px;
  letter-spacing: 3px;
}
@media (min-width: 768px) {
  .events__eventCont .events__date {
    font-size: 14px;
  }
}
.events__eventCont .events__title {
  font-size: 9px;
  text-transform: uppercase;
  color: #8d3cd0;
  margin: 8px 0;
}
@media (min-width: 768px) {
  .events__eventCont .events__title {
    font-size: 18px;
  }
}
.events__eventCont .events__description {
  font-size: 10px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .events__eventCont .events__description {
    font-size: 16px;
    line-height: 1.25em;
  }
}

.gallery {
  margin: 80px 0;
  margin-bottom: 0;
}
@media (min-width: 960px) {
  .gallery {
    margin-bottom: 0;
  }
}

.gallery__header {
  font-size: 50px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .gallery__header {
    font-size: 10.46875vw;
    margin-left: 8.4895833333vw;
  }
}

.gallery__sliderCont {
  height: 288px;
  position: relative;
  background-color: #141414;
}
@media (min-width: 768px) {
  .gallery__sliderCont {
    height: 60vh;
  }
}
@media (min-width: 960px) {
  .gallery__sliderCont {
    height: 80vh;
  }
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider__arrow {
  width: 11px;
  height: 23px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}
.slider__arrow--prev {
  right: auto;
  left: 4px;
  transform: translateY(-50%) rotate(180deg);
  opacity: 0.5;
}
@media (min-width: 768px) {
  .slider__arrow {
    width: 3.125vw;
    height: 6.25vw;
  }
}

.slider__imagesCont {
  display: flex;
  height: 100%;
  transition: transform 0.25s ease-in-out;
  pointer-events: none;
}

.slider__img {
  height: 100%;
  width: 40vw;
  flex-shrink: 0;
  object-fit: cover;
  pointer-events: none;
}
@media (min-width: 768px) {
  .slider__img {
    width: 33vw;
  }
}
@media (min-width: 960px) {
  .slider__img {
    width: 20vw;
  }
}

.yearsOnMarket {
  position: relative;
  overflow: hidden;
  padding-top: calc(10vh + 100px);
  background-color: #141414;
}
@media (min-width: 768px) {
  .yearsOnMarket {
    padding: 300px 0;
    padding-top: 400px;
  }
}

.yearsOnMarket__train {
  padding-top: 90px;
  position: relative;
}

.yearsOnMarket__wagon {
  position: absolute;
  left: 0;
  top: -10px;
  height: 211px;
  z-index: 5;
  transition: all 0.1s;
}
@media (min-width: 768px) {
  .yearsOnMarket__wagon {
    height: 400px;
    top: -82px;
  }
}
@media (min-width: 1440px) {
  .yearsOnMarket__wagon {
    height: 792px;
    top: -190px;
  }
}

.yearsOnMarket__trails {
  height: 400px;
  position: relative;
}
.yearsOnMarket__trails::before, .yearsOnMarket__trails::after {
  content: "";
  position: absolute;
  width: 500px;
  left: -50px;
  height: 1px;
  background-image: url("../img/dots_horizontal.svg");
  transform: rotate(30deg);
}
.yearsOnMarket__trails::before {
  top: 26.5%;
}
.yearsOnMarket__trails::after {
  top: 42.5%;
}
@media (min-width: 768px) {
  .yearsOnMarket__trails {
    height: 700px;
  }
  .yearsOnMarket__trails::before, .yearsOnMarket__trails::after {
    width: 5000px;
    left: 0;
    transform: rotate(30deg);
    transform-origin: left;
  }
  .yearsOnMarket__trails::before {
    top: 0%;
  }
  .yearsOnMarket__trails::after {
    top: 17.2%;
  }
}
@media (min-width: 1440px) {
  .yearsOnMarket__trails {
    height: 1600px;
  }
  .yearsOnMarket__trails::before, .yearsOnMarket__trails::after {
    width: 150vw;
    left: 0;
    transform: rotate(30deg);
    transform-origin: left;
  }
  .yearsOnMarket__trails::before {
    top: 3.8%;
  }
  .yearsOnMarket__trails::after {
    top: 18.75%;
  }
}

.yearsOnMarket__text {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 77px;
  white-space: nowrap;
  position: absolute;
  bottom: 1em;
  left: 0;
  transform: rotate(30deg) translateX(70%);
  transition: all 0.1s;
}
@media (min-width: 768px) {
  .yearsOnMarket__text {
    font-size: 200px;
    bottom: 200px;
  }
}
@media (min-width: 1440px) {
  .yearsOnMarket__text {
    font-size: 400px;
    bottom: 300px;
  }
}

.afterWork {
  padding: 30px 20px;
  overflow: hidden;
  width: 100%;
  background-color: #141414;
}
@media (min-width: 960px) {
  .afterWork {
    padding: 50px 200px;
    display: grid;
    grid-template-columns: 67fr 76fr;
    grid-column-gap: 90px;
  }
}

.afterWork__header {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 24px;
  margin-bottom: 21px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .afterWork__header {
    font-size: 5.2604166667vw;
    grid-column-end: span 2;
  }
}

.afterWork__title {
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 3px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .afterWork__title {
    grid-column-start: 2;
    font-size: 36px;
    letter-spacing: 12px;
    padding-left: 0;
    margin-bottom: 29px;
  }
}

.afterWork__text {
  font-size: 10px;
  line-height: 14px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .afterWork__text {
    font-size: 16px;
    line-height: 19px;
  }
}

.afterWork__imgCont {
  margin: 28px 0;
  display: block;
  position: relative;
}
@media (min-width: 960px) {
  .afterWork__imgCont {
    margin: 0;
  }
  .afterWork__imgCont::after {
    content: "";
    position: absolute;
    left: -100vw;
    top: 50%;
    height: 300vw;
    width: 2px;
    background-image: url("../img/dots.svg");
    transform: rotate(-90deg);
    transform-origin: top;
    z-index: -1;
  }
}

.afterWork__img {
  height: 210px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .afterWork__img {
    height: 495px;
  }
}

.afterWork__seeMoreCont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
@media (min-width: 960px) {
  .afterWork__seeMoreCont {
    margin-top: -30px;
    justify-content: flex-start;
  }
}

.afterWork__arrow {
  height: 10px;
  margin-right: 10px;
}
@media (min-width: 960px) {
  .afterWork__arrow {
    margin-right: 101px;
  }
}

.afterWork__seeMoreText {
  display: block;
  font-size: 9px;
}
@media (min-width: 768px) {
  .afterWork__seeMoreText {
    font-size: 18px;
  }
}

.contact {
  background-color: #141414;
}
@media (min-width: 960px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 350px 0;
  }
}

.contact__content {
  padding-left: 72px;
  padding-right: 52px;
  position: relative;
}
@media (min-width: 960px) {
  .contact__content {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-left: 130px;
  }
}

.contact__header {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
.contact__header::after {
  content: "";
  z-index: 2;
  background: #141414;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
}
@media (min-width: 960px) {
  .contact__header {
    font-size: 4.7395833333vw;
  }
  .contact__header::after {
    height: 2.0833333333vw;
  }
}

.contact__arrow {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 5;
}
.contact__arrow .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  height: 90vw;
  transform: rotate(90deg);
  transform-origin: top;
}
@media (min-width: 960px) {
  .contact__arrow .arrow {
    height: 50vw;
  }
}

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0 30px;
  margin: 30px 0;
}
@media (min-width: 960px) {
  .contact__grid {
    margin: 80px 0;
    width: 389px;
    grid-template-columns: auto 1fr;
    grid-gap: 0 70px;
  }
}

.contact__icon {
  max-height: 29px;
  max-width: 29px;
  grid-row-end: span 2;
  margin-top: 5px;
}
@media (min-width: 960px) {
  .contact__icon {
    max-height: 62px;
    max-width: 62px;
  }
}

.contact__title {
  text-transform: uppercase;
  font-size: 9px;
  margin-bottom: 5px;
}
@media (min-width: 960px) {
  .contact__title {
    font-size: 16px;
  }
}

.contact__data {
  font-size: 13px;
  margin-bottom: 30px;
}
.contact__data a {
  text-decoration: none;
}
@media (min-width: 960px) {
  .contact__data {
    font-size: 24px;
    margin-bottom: 111px;
  }
}

.socials {
  padding: 0 17px;
  grid-column-start: 1;
  grid-row-start: 1;
}
@media (min-width: 960px) {
  .socials {
    align-self: end;
  }
}

.socials__header {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 54px;
  line-height: 1;
}
@media (min-width: 960px) {
  .socials__header {
    transform: rotate(-45deg);
    margin-left: 25vw;
    transform-origin: left;
  }
}

.socials__subHeader {
  font-size: 9px;
  text-transform: uppercase;
  margin-left: 37px;
}
@media (min-width: 960px) {
  .socials__subHeader {
    display: none;
  }
}

.socials__grid {
  display: grid;
  grid-gap: 80px;
  margin: 45px 0;
  align-items: center;
  padding-left: 52px;
  padding-right: 68px;
}
@media (min-width: 960px) {
  .socials__grid {
    width: 29.53125vw;
  }
}

.socials__linkCont {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-gap: 40px;
  text-decoration: none;
}
@media (min-width: 960px) {
  .socials__linkCont:hover .socials__title {
    color: #8d3cd0;
  }
  .socials__linkCont:hover img {
    filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(-80deg);
  }
}

.socials__title {
  font-size: 18px;
  font-weight: 900;
  position: relative;
}
.socials__title::before {
  content: "";
  position: absolute;
  left: -69px;
  top: 50%;
  width: 100vw;
  transform: translateY(-50%);
  height: 1px;
  background-image: url("../img/dots_horizontal.svg");
  z-index: 1;
}
@media (min-width: 960px) {
  .socials__title::before {
    width: 25vw;
    font-size: 24px;
  }
}
@media (min-width: 960px) {
  .socials__title::after {
    content: "";
    position: absolute;
    left: calc(25vw - 67px);
    top: 50%;
    width: 20vw;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: left;
    height: 1px;
    background-image: url("../img/dots_horizontal.svg");
    z-index: 1;
    font-size: 24px;
  }
}
.socials__title:nth-child(1)::after {
  width: 27vw;
}
.socials__title:nth-child(5)::after {
  width: 13vw;
}

.socials__icon {
  width: 45px;
}
@media (min-width: 960px) {
  .socials__icon {
    width: 35px;
  }
}

.footer {
  background-image: url("../img/dots_horizontal.svg");
  background-color: #141414;
  background-position-y: top;
  background-repeat: repeat-x;
  padding: 30px 40px;
  display: grid;
  justify-items: center;
  grid-gap: 7px;
}
@media (min-width: 960px) {
  .footer {
    grid-template-columns: 16fr 8fr 4fr 1fr;
    justify-items: start;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 54px;
    grid-gap: 7.8125vw;
  }
}

.footer__logo {
  width: 120px;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .footer__logo {
    width: 125px;
  }
}

.footer__contactCont {
  display: none;
}
@media (min-width: 960px) {
  .footer__contactCont {
    display: block;
    padding-left: 7.8125vw;
  }
}

@media (min-width: 960px) {
  .footer__companyName {
    font-size: 21px;
    text-transform: uppercase;
    color: #8d3cd0;
    white-space: nowrap;
    margin-bottom: 4px;
  }
}
@media (min-width: 1440px) {
  .footer__companyName {
    font-size: 32px;
  }
}

.footer__phone {
  font-size: 20px;
  margin-bottom: 38px;
}

.footer__email {
  font-size: 20px;
  color: #8d3cd0;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
}

.footer__locationCont {
  display: flex;
  align-items: center;
}

.footer__pin {
  height: 24px;
  margin-right: 4.5px;
}

.footer__locationLink {
  white-space: nowrap;
  text-decoration: none;
}

.footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px 80px;
  max-width: 80%;
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .footer__menu {
    font-size: 18px;
    margin: 0;
    grid-gap: 17px 37px;
  }
}
@media (min-width: 1440px) {
  .footer__menu {
    font-size: 21px;
    grid-gap: 17px 80px;
  }
}

.footer__link {
  text-decoration: none;
}

.footer__buttonsCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .footer__buttonsCont {
    flex-direction: column;
  }
}

.footer__othersHead {
  display: none;
}
@media (min-width: 960px) {
  .footer__othersHead {
    display: flex;
    margin-bottom: 50px;
  }
}

.footer__arrowDown {
  height: 57px;
}

.footer__othersTitle {
  font-size: 21px;
  text-transform: uppercase;
  margin-left: 11px;
}

.footer__button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  white-space: nowrap;
}
.footer__button--vivid {
  background: #5e1e92;
}
@media (min-width: 960px) {
  .footer__button {
    font-size: 21px;
    padding: 3px 12px;
    padding-bottom: 6px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .footer__button {
    font-size: 32px;
    padding: 3px 22px;
  }
}

.footer__socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .footer__socials {
    flex-direction: column;
    grid-row-end: span 2;
    margin-top: 75px;
  }
}

.footer__socialIcon {
  width: 28px;
  height: 28px;
}
@media (min-width: 960px) {
  .footer__socialIcon:hover {
    filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(-80deg);
  }
}

.footer__crLink {
  text-decoration: none;
  font-size: 8px;
  white-space: nowrap;
}
@media (min-width: 960px) {
  .footer__crLink {
    font-size: 14px;
    grid-row-start: 2;
  }
  .footer__crLink--1 {
    grid-column-start: 1;
    padding-left: 7.8125vw;
  }
  .footer__crLink--2 {
    grid-column-start: 2;
    text-align: right;
    width: 100%;
  }
  .footer__crLink--3 {
    grid-column-start: 3;
  }
}

.bigLetters {
  display: flex;
  padding-bottom: 80px;
  background-color: #141414;
}
@media (min-width: 768px) {
  .bigLetters {
    padding: 50px 0;
    padding-bottom: 145px;
  }
}

.bigLetters__arrowCont {
  position: relative;
  padding: 0 38px;
}
@media (min-width: 768px) {
  .bigLetters__arrowCont {
    width: 32.2916666667vw;
    display: flex;
    justify-content: center;
  }
}
.bigLetters__arrowCont .bigLetters__arrowCont {
  height: 250px;
  position: relative;
}
.bigLetters__arrowCont .bigLetters__arrowCont .arrow {
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .bigLetters__arrowCont .bigLetters__arrowCont {
    height: 400px;
  }
}
@media (min-width: 960px) {
  .bigLetters__arrowCont .bigLetters__arrowCont {
    height: 90vh;
  }
  .bigLetters__arrowCont .bigLetters__arrowCont .arrow {
    left: 50%;
  }
}
.bigLetters__arrowCont .bigLetters__arrowText {
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left;
  position: absolute;
  top: 60%;
  left: 60px;
  font-size: 9px;
}
@media (min-width: 768px) {
  .bigLetters__arrowCont .bigLetters__arrowText {
    font-size: 2.2916666667vw;
    left: calc(50% + 1.25em);
    top: 65%;
  }
}

.bigLetters__letterCont {
  position: relative;
  width: 170px;
}
@media (min-width: 768px) {
  .bigLetters__letterCont {
    width: 46.40625vw;
  }
}

.bigLetters__letter {
  position: absolute;
  bottom: 0;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 200px;
  line-height: 0.7em;
}
.bigLetters__letter::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  bottom: 0;
  right: -100vw;
  background-image: url("../img/dots_horizontal.svg");
}
@media (min-width: 768px) {
  .bigLetters__letter {
    font-size: 45vw;
  }
}
.bigLetters__letter--a {
  opacity: 1;
}
.bigLetters__letter--z {
  opacity: 0;
}
@media (min-width: 960px) {
  .bigLetters__letter::after {
    right: -99vw;
  }
}

.bigLetters__timeCont {
  position: relative;
  align-self: center;
  margin-top: -25%;
}
@media (min-width: 768px) {
  .bigLetters__timeCont {
    margin-top: -38%;
  }
}

.bigLetters__time {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 30px;
  position: absolute;
}
@media (min-width: 768px) {
  .bigLetters__time {
    font-size: 7.03125vw;
  }
}
.bigLetters__time--from {
  opacity: 1;
}
.bigLetters__time--to {
  opacity: 0;
}

.arrow {
  width: 16px;
  height: 100%;
  position: relative;
}
.arrow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  height: 20%;
  width: 1px;
  background-image: url("../img/dots.svg");
  background-repeat: repeat-y;
}
.arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 21%;
  bottom: 0;
  width: 1px;
  background: #fff;
}
@media (min-width: 960px) {
  .arrow {
    width: 21px;
  }
}

.arrow__pointer {
  position: absolute;
  left: 4px;
  bottom: 0;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  width: 9px;
  height: 9px;
}
@media (min-width: 960px) {
  .arrow__pointer {
    left: 3px;
    width: 15px;
    height: 15px;
  }
}

.arrow--right {
  width: 100%;
  height: 100%;
}
.arrow--right::before {
  left: 0;
  top: 50%;
  height: 1px;
  width: 30%;
  background-image: url("../img/dots_horizontal.svg");
  background-repeat: repeat-x;
}
@media (min-width: 960px) {
  .arrow--right::before {
    width: 50%;
  }
}
.arrow--right::after {
  content: "";
  position: absolute;
  left: 31%;
  top: 50%;
  right: 0;
  height: 1px;
  width: 69%;
  background: #fff;
}
@media (min-width: 960px) {
  .arrow--right::after {
    left: 51%;
    width: 49%;
  }
}
.arrow--right .arrow__pointer {
  top: 1px;
  left: auto;
  right: 0;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-135deg);
  width: 6px;
  height: 6px;
}

.hugeABM {
  display: none;
}
@media (min-width: 960px) {
  .hugeABM {
    opacity: 0.2;
    display: block;
    position: fixed;
    right: 0;
    top: 50vh;
    transform: translateY(-50%) translateX(33%) rotate(90deg);
    font-size: 18.6979166667vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    z-index: -1;
  }
}

.popup {
  pointer-events: none;
}
.popup .popup__cover {
  opacity: 0;
  transition: all 0.25s ease-out;
}
.popup .popup__wrapper {
  transform: scale(0.0001);
  opacity: 0;
  transition: all 0.25s ease-out;
}
.popup--visible {
  pointer-events: all;
}
.popup--visible .popup__cover {
  opacity: 1;
}
.popup--visible .popup__wrapper {
  opacity: 1;
  transform: translateY(-50%);
}

.popup__wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  padding-bottom: 56.5%;
  z-index: 1000;
}
@media (min-width: 960px) {
  .popup__wrapper {
    max-width: 70%;
    margin: auto;
  }
}

.popup__cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 1000;
}

.popup__movie {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 960px) {
  .popup__movie {
    height: 70%;
    top: 15%;
  }
}

.logos {
  padding-top: 100px;
  background-color: #141414;
}

.logos__wrapper {
  background-color: #fff;
  padding: 30px 0;
}
@media (min-width: 960px) {
  .logos__wrapper {
    padding-left: 4.6875vw;
    padding-right: 4.6875vw;
    padding-top: 4.1666666667vw;
    padding-bottom: 4.1666666667vw;
  }
}

.logos__slider {
  display: flex;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 960px) {
  .logos__slider {
    justify-content: space-between;
  }
}

.logos__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 80px);
  margin: 0 40px;
  flex-shrink: 0;
}
@media (min-width: 960px) {
  .logos__slide {
    width: auto;
    flex: 1;
    justify-content: space-around;
    margin: 0;
  }
}

.logos__logo {
  max-height: 60px;
  max-width: 60px;
  flex: 0;
}
@media (min-width: 960px) {
  .logos__logo {
    width: auto;
    max-width: calc((100vw / 8) - 60px);
    max-height: 5.2083333333vw;
  }
}

.ourShops {
  overflow: hidden;
  background-color: #141414;
  position: relative;
  display: grid;
  grid-template: auto auto/auto auto;
  padding-bottom: 60px;
}
@media (min-width: 960px) {
  .ourShops {
    grid-template-columns: 1fr 1fr;
  }
}
.ourShops__mapLine {
  height: 1px;
  width: 200px;
  background: url(../img/dots_horizontal.svg);
  position: absolute;
  z-index: 10;
  transform-origin: left;
}
@media (min-width: 960px) {
  .ourShops__mapCont {
    grid-row-end: span 2;
    padding-bottom: 4.6875vw;
  }
}
.ourShops__map {
  margin-top: -20%;
  margin-left: -30vw;
  width: 80vw;
  position: relative;
  z-index: 1;
}
@media (min-width: 960px) {
  .ourShops__map {
    width: 60vw;
    margin-top: -17%;
    margin-left: -8vw;
  }
}
.ourShops__map--vivid {
  position: absolute;
  margin-top: -11%;
  margin-left: -30vw;
  width: 80vw;
  mix-blend-mode: darken;
  stroke-width: 0;
  pointer-events: none;
  z-index: 10;
}
.ourShops__map--vivid .map__contour {
  fill: #8d3cd0;
}
@media (min-width: 768px) {
  .ourShops__map--vivid {
    margin-top: -13vw;
  }
}
@media (min-width: 960px) {
  .ourShops__map--vivid {
    width: 60vw;
    margin-top: -8.9%;
    margin-left: -8vw;
  }
}
.ourShops__addressBox {
  position: relative;
  padding-left: 35px;
  padding-top: 21px;
}
@media (min-width: 960px) {
  .ourShops__addressBox {
    padding-top: 7.5520833333vw;
    padding-left: 22.0833333333vw;
  }
}
.ourShops__arrow {
  position: absolute;
  left: 0;
  top: 40px;
  width: 35px;
  height: 7px;
}
@media (min-width: 960px) {
  .ourShops__arrow {
    width: 14.2708333333vw;
    top: 10.5729166667vw;
    left: 3.90625vw;
  }
}
.ourShops__addressTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 7px;
}
@media (min-width: 960px) {
  .ourShops__addressTitle {
    font-size: 1.875vw;
  }
}
.ourShops__subTitle {
  color: #8d3cd0;
  font-size: 11px;
  margin-bottom: 7px;
  margin-top: 7px;
}
@media (min-width: 960px) {
  .ourShops__subTitle {
    font-size: 1.25vw;
  }
}
.ourShops__phone, .ourShops__mail {
  display: block;
  font-size: 8px;
  line-height: 2em;
  text-decoration: none;
}
@media (min-width: 960px) {
  .ourShops__phone, .ourShops__mail {
    font-size: 0.8333333333vw;
  }
}
.ourShops__phoneIcon {
  width: 7px;
  height: 7px;
}
@media (min-width: 960px) {
  .ourShops__phoneIcon {
    width: 15px;
    height: 15px;
  }
}
.ourShops__employeeCont {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.ourShops__employeeName, .ourShops__employeePhone {
  margin-left: 4px;
  font-size: 6px;
  text-decoration: none;
}
@media (min-width: 960px) {
  .ourShops__employeeName, .ourShops__employeePhone {
    font-size: 0.8333333333vw;
  }
}
.ourShops__header {
  text-transform: uppercase;
  grid-column-start: 2;
}
@media (min-width: 960px) {
  .ourShops__header {
    align-self: end;
    padding-left: 2.65625vw;
  }
}
.ourShops__subHeader {
  font-size: 13px;
  font-weight: bold;
}
@media (min-width: 960px) {
  .ourShops__subHeader {
    font-size: 2.65625vw;
  }
}
.ourShops__mainHeader {
  color: #8d3cd0;
  font-size: 40px;
}
@media (min-width: 960px) {
  .ourShops__mainHeader {
    font-size: 7.8645833333vw;
  }
}

.map__contour {
  fill: #141414;
  stroke: #fff;
  stroke-width: 1.5px;
}
@media (min-width: 960px) {
  .map__contour {
    stroke-width: 0.5px;
  }
}
.map__dot {
  position: relative;
  cursor: pointer;
  stroke: #fff;
  stroke-width: 2px;
  transition: r 0.33s cubic-bezier(0.29, -0.24, 0.42, 2.28);
  z-index: 100;
}
.map__line {
  width: 1px;
  height: 100px;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 1, 5;
  stroke-linecap: round;
}

/*# sourceMappingURL=style.css.map */
